version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    ignore:
      - dependency-name: 'jsonld-context-parser' # Must match the version that Comunica depends on: https://github.com/comunica/comunica/blob/master/packages/actor-rdf-parse-jsonld/package.json#L48
    groups:
      comunica:
        patterns:
          - '@comunica/*'
      nx:
        patterns:
          - '@nx/*'
          - 'nx'
      opentelemetry:
        patterns:
          - '@opentelemetry/*'
      vitest:
        patterns:
          - '@vitest/*'
          - 'vitest'
