version: "3.4"
services:
  node:
    image: network-of-terms-api:latest
    user: node
    build:
      context: .
      target: build
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 3123:3123
    entrypoint: /bin/sh -c 'node_modules/.bin/ts-node-dev src/server/server.ts'
