name: Build app and update Docker image

on:
  push:
    tags:
      - '*'
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      # See https://github.com/docker/build-push-action#complete-workflow.
      - name: Set variables
        id: vars
        run: |
          VERSION_TAG=${GITHUB_REF#refs/tags/}
          echo "::set-output name=version_tag::${VERSION_TAG}"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
          echo "::set-output name=docker_image::ghcr.io/netwerk-digitaal-erfgoed/network-of-terms-api"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
        with:
          # See https://github.com/docker/build-push-action/issues/126.
          driver-opts: image=moby/buildkit:master

      - name: Log in to Docker registry
        uses: docker/login-action@v1.11.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}

      - name: Build and push image to registry
        uses: docker/build-push-action@v2.7.0
        with:
          context: .
          push: true
          tags: |
            ${{ steps.vars.outputs.docker_image }}:${{ steps.vars.outputs.sha_short }}
            ${{ steps.vars.outputs.docker_image }}:${{ steps.vars.outputs.version_tag }}
            ${{ steps.vars.outputs.docker_image }}:latest

      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Store DigitalOcean credentials
        run: doctl kubernetes cluster kubeconfig save nde

      # See https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#updating-a-deployment
      - name: Update deployment
        run: |
          kubectl set image deployment/network-of-terms-api app=${{ steps.vars.outputs.docker_image }}:${{ steps.vars.outputs.sha_short }} --record

      - name: Verify deployment
        run: kubectl rollout status deployment/network-of-terms-api
