name: Release

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: 14.x
      - run: npm install
      - run: npm run compile
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: peter-evans/repository-dispatch@v1.1.3
        with:
          repository: netwerk-digitaal-erfgoed/network-of-terms-api
          token: ${{ secrets.PAT }}
          event-type: catalog_released
